BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4

# 大括号另起一行
BreakBeforeBraces: Allman

# 强制单行函数、控制语句换行
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

# 针对 Qt 优化的细节
AccessModifierOffset: -4
ColumnLimit: 100

# 强制模板声明后换行
AlwaysBreakTemplateDeclarations: Yes